!------------------
!------------------
!  Xresources
!------------------
!------------------


!------------------
!  URxvt Settings
!
!  https://linux.die.net/man/1/urxvt
!------------------

URxvt*geometry:         92x24
URxvt*fading:           10
URxvt*urgentOnBell:     true
URxvt*scrollBar:        false
URxvt*saveLines:        2048
URxvt*borderLess:       false
URxvt*cursorBlink:      true
URxvt*transparent:      false

URxvt.iso14755:         false
URxvt.iso14755_52:      false


!--Extensions
URxvt.perl-ext-common: default,resize-font,clipboard,url-select

! https://wiki.archlinux.org/index.php/Rxvt-unicode#Yankable_URLs_(no_mouse)
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher: /usr/bin/xdg-open
URxvt.url-select.underline: true
URxvt.url-select.button: 1

! https://wiki.archlinux.org/index.php/Rxvt-unicode#Cut_and_paste
URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

!--Font Setting
URxvt*font: xft:Iosevka:size=16:style=Regular:antialias=true:hinting=full
URxvt*boldFont: xft:Iosevka:size=16:style=Bold:antialias=true:hinting=full
URxvt*italicFont: xft:Iosevka:size=16:style=Italic:antialias=true:hinting=full
URxvt*boldItalicFont: xft:Iosevka:size=16:style=Bold Italic:antialias=true:hinting=full

!--Xft Settings
Xft.dpi: 90
Xft.autohint: 0
Xft.hinting: 1
Xft.antialias: 1
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintfull


!--Colorscheme

! special
*.foreground: #93a1a1
*.background: #141c21
*.cursorColor: #ff75ff

! black
*.color0: #263640
*.color8: #4a697d

! red
*.color1: #d12f2c
*.color9: #fa3935

! green
*.color2: #819400
*.color10: #a4bd00

! yellow
*.color3: #b08500
*.color11: #d9a400

! blue
*.color4: #2587cc
*.color12: #2ca2f5

! magenta
*.color5: #696ebf
*.color13: #8086e8

! cyan
*.color6: #289c93
*.color14: #33c5ba

! white
*.color7: #bfbaac
*.color15: #fdf6e3
