! █▓▒░ Xresources


! █▓▒░ URXVT settings

! █▓▒░ interface
URxvt*depth:                32
URxvt*loginShell:           true
URxvt*scrollBar:            false
URxvt*transparent:          false
URxvt*internalBorder:       0
URxvt*borderColor:          #3B4252
URxvt*borderLess:           false
URxvt*scrollWithBuffer:     true
URxvt*scrollTtyOutput:      false
URxvt*scrollTtyKeypress:    true
URxvt*skipScroll:           true
URxvt*fading:               30

! █▓▒░ fonts
URxvt.font: xft:hack:size=16:antialias=true
!URxvt*letterSpace: -1
!URxvt*lineSpace: -1

! █▓▒░ extensions
URxvt.perl-ext-common: default,resize-font

! █▓▒░ misc
URxvt.iso14755: false
URxvt.iso14755_52: false

! █▓▒░ Xft settings
Xft.dpi: 96
Xft.autohint: 0
Xft.lcdfilter: lcddefault
Xft.hintstyle: hintslight
Xft.hinting: 1
Xft.antialias: 1
Xft.rgba: rgb


!   ██████  ██████  ██   ██ ██████  █████   █████  ██████  █████  ██████
!  ██░░░░  ██░░░░██░██  ░██░░██░░████░░░██ ██░░░██░░██░░████░░░██░░██░░██
! ░░█████ ░██   ░██░██  ░██ ░██ ░░░██  ░░ ░███████ ░██ ░░░███████ ░██ ░░
!  ░░░░░██░██   ░██░██  ░██ ░██   ░██   ██░██░░░░  ░██   ░██░░░░  ░██   
!  ██████ ░░██████ ░░██████░███   ░░█████ ░░██████░███   ░░██████░███   
! ░░░░░░   ░░░░░░   ░░░░░░ ░░░     ░░░░░   ░░░░░░ ░░░     ░░░░░░ ░░░   
!  r  e  a  d     c  o  d  e     l  i  k  e     a     w  i  z  a  r  d 
!
! sourcerer by xero harrison (https://xero.nu)
!  ├─ based on sorcerer by Jeet Sukumaran (http://jeetworks.org)
!  └─ based on mustang by Henrique C. Alves (hcarvalhoalves@gmail.com)

! █▓▒░ scorcerer colors
*.foreground:   #c2c2b0
*.background:   #222222
*.cursorColor:  #ffaef7
! black
*.color0:       #222222
*.color8:       #272822
! red
*.color1:       #aa4450
*.color9:       #ff6a6a
! green
*.color2:       #719611
*.color10:      #b1d631
! yellow
!*.color3:      #cc8800
*.color3:       #ff9800
*.color11:      #87875f
! blue
*.color4:       #6688aa
*.color12:      #90b0d1
! magenta
*.color5:       #8f6f8f
*.color13:      #8181a6
! cyan
*.color6:       #528b8b
*.color14:      #87ceeb
! white
*.color7:       #d3d3d3
*.color15:      #c1cdc1
! others
URxvt.colorIT:  #719611
URxvt.colorBD:  #d3d3d3
URxvt.colorUL:  #528b8b
