/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */


@define-color background #0e1415;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #2b3132;

@define-color inverse_primary #006971;

@define-color inverse_surface #dee4e4;

@define-color on_background #dee4e4;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #00363b;

@define-color on_primary_container #9df0fa;

@define-color on_primary_fixed #001f23;

@define-color on_primary_fixed_variant #004f56;

@define-color on_secondary #1c3437;

@define-color on_secondary_container #cde7eb;

@define-color on_secondary_fixed #051f22;

@define-color on_secondary_fixed_variant #324b4e;

@define-color on_surface #dee4e4;

@define-color on_surface_variant #bec8c9;

@define-color on_tertiary #22304c;

@define-color on_tertiary_container #d8e2ff;

@define-color on_tertiary_fixed #0c1b36;

@define-color on_tertiary_fixed_variant #394764;

@define-color outline #899294;

@define-color outline_variant #3f484a;

@define-color primary #81d3dd;

@define-color primary_container #004f56;

@define-color primary_fixed #9df0fa;

@define-color primary_fixed_dim #81d3dd;

@define-color scrim #000000;

@define-color secondary #b1cbcf;

@define-color secondary_container #324b4e;

@define-color secondary_fixed #cde7eb;

@define-color secondary_fixed_dim #b1cbcf;

@define-color shadow #000000;

@define-color source_color #2f7a82;

@define-color surface #0e1415;

@define-color surface_bright #343a3b;

@define-color surface_container #1a2121;

@define-color surface_container_high #252b2c;

@define-color surface_container_highest #303637;

@define-color surface_container_low #161d1d;

@define-color surface_container_lowest #090f10;

@define-color surface_dim #0e1415;

@define-color surface_tint #81d3dd;

@define-color surface_variant #3f484a;

@define-color tertiary #b8c6ea;

@define-color tertiary_container #394764;

@define-color tertiary_fixed #d8e2ff;

@define-color tertiary_fixed_dim #b8c6ea;

