/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */


@define-color background #1a110e;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #392e2a;

@define-color inverse_primary #8e4c32;

@define-color inverse_surface #f1dfd9;

@define-color on_background #f1dfd9;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #552009;

@define-color on_primary_container #ffdbce;

@define-color on_primary_fixed #370e00;

@define-color on_primary_fixed_variant #71361d;

@define-color on_secondary #442a20;

@define-color on_secondary_container #ffdbce;

@define-color on_secondary_fixed #2c160d;

@define-color on_secondary_fixed_variant #5d4035;

@define-color on_surface #f1dfd9;

@define-color on_surface_variant #d8c2bb;

@define-color on_tertiary #383006;

@define-color on_tertiary_container #f1e3a8;

@define-color on_tertiary_fixed #211b00;

@define-color on_tertiary_fixed_variant #50471a;

@define-color outline #a08d86;

@define-color outline_variant #53433e;

@define-color primary #ffb59a;

@define-color primary_container #71361d;

@define-color primary_fixed #ffdbce;

@define-color primary_fixed_dim #ffb59a;

@define-color scrim #000000;

@define-color secondary #e7beaf;

@define-color secondary_container #5d4035;

@define-color secondary_fixed #ffdbce;

@define-color secondary_fixed_dim #e7beaf;

@define-color shadow #000000;

@define-color source_color #d1744f;

@define-color surface #1a110e;

@define-color surface_bright #423733;

@define-color surface_container #271e1a;

@define-color surface_container_high #322824;

@define-color surface_container_highest #3d322f;

@define-color surface_container_low #231a16;

@define-color surface_container_lowest #140c09;

@define-color surface_dim #1a110e;

@define-color surface_tint #ffb59a;

@define-color surface_variant #53433e;

@define-color tertiary #d4c78e;

@define-color tertiary_container #50471a;

@define-color tertiary_fixed #f1e3a8;

@define-color tertiary_fixed_dim #d4c78e;

