/***
 *    ┳┳┓┏┓┏┳┓┳┳┏┓┏┓┳┓  ┏┓┓ ┏┏┓┓┏┳┓┏┓
 *    ┃┃┃┣┫ ┃ ┃┃┃┓┣ ┃┃━━┗┓┃┃┃┣┫┗┫┃┃┃ 
 *    ┛ ┗┛┗ ┻ ┗┛┗┛┗┛┛┗  ┗┛┗┻┛┛┗┗┛┛┗┗┛
 *                                   
 */


@define-color background #131318;

@define-color error #ffb4ab;

@define-color error_container #93000a;

@define-color inverse_on_surface #303036;

@define-color inverse_primary #535a92;

@define-color inverse_surface #e4e1e9;

@define-color on_background #e4e1e9;

@define-color on_error #690005;

@define-color on_error_container #ffdad6;

@define-color on_primary #242b61;

@define-color on_primary_container #dfe0ff;

@define-color on_primary_fixed #0d154b;

@define-color on_primary_fixed_variant #3b4279;

@define-color on_secondary #2d2f42;

@define-color on_secondary_container #e0e1f9;

@define-color on_secondary_fixed #181a2c;

@define-color on_secondary_fixed_variant #434559;

@define-color on_surface #e4e1e9;

@define-color on_surface_variant #c7c5d0;

@define-color on_tertiary #45263d;

@define-color on_tertiary_container #ffd7f0;

@define-color on_tertiary_fixed #2d1127;

@define-color on_tertiary_fixed_variant #5d3c54;

@define-color outline #90909a;

@define-color outline_variant #46464f;

@define-color primary #bcc3ff;

@define-color primary_container #3b4279;

@define-color primary_fixed #dfe0ff;

@define-color primary_fixed_dim #bcc3ff;

@define-color scrim #000000;

@define-color secondary #c4c5dd;

@define-color secondary_container #434559;

@define-color secondary_fixed #e0e1f9;

@define-color secondary_fixed_dim #c4c5dd;

@define-color shadow #000000;

@define-color source_color #31344c;

@define-color surface #131318;

@define-color surface_bright #39393f;

@define-color surface_container #1f1f25;

@define-color surface_container_high #29292f;

@define-color surface_container_highest #34343a;

@define-color surface_container_low #1b1b21;

@define-color surface_container_lowest #0d0e13;

@define-color surface_dim #131318;

@define-color surface_tint #bcc3ff;

@define-color surface_variant #46464f;

@define-color tertiary #e6bad7;

@define-color tertiary_container #5d3c54;

@define-color tertiary_fixed #ffd7f0;

@define-color tertiary_fixed_dim #e6bad7;

