/***
 *    ┳┓┏┓┏┳┓┳┏┓┳┏┓┏┓┏┳┓┳┏┓┳┓
 *    ┃┃┃┃ ┃ ┃┣ ┃┃ ┣┫ ┃ ┃┃┃┃┃
 *    ┛┗┗┛ ┻ ┻┻ ┻┗┛┛┗ ┻ ┻┗┛┛┗
 *                           
 */

@define-color text            @on_surface;
@define-color bordercolor     @primary;
@define-color base            alpha(@surface, 0.9);
@define-color base-alt        alpha(@surface_container_high, 0.8);
@define-color selected        @primary_container;
@define-color hover           alpha(@surface_container_high, 0.8);
@define-color urgent          @error;

* {
  all: unset;
  color: @text;
  font-size: 1.2rem;
  font-weight: 900;
  font-family: "CodeNewRoman Nerd Font Mono";
  transition: 200ms;
}

.notification-row {
  outline: none;
  margin: 0;
  padding: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  background: @base;
  border: 1px solid @bordercolor;
  border-radius: 12px;
  margin: 4px 4px;
  padding: 0;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 2px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
  border: 2px solid @urgent;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 6px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 2.6em;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 8px;
  background-color: @base-alt ;
  margin: 4px;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @hover;
  border: 1px solid @selected;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @selected;
  color: @base;
}

.image {
  margin: 10px 20px 10px 0px;
}

.summary {
  font-weight: 800;
  font-size: 1.1rem;
}

.body {
  font-size: 1.0rem;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 6px;
  padding: 2px;
  border-radius: 6px;
  background-color: transparent;
  border: 1px solid transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @selected;
  color: @base;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @selected;
  color: @base;
}

.notification.critical progress {
  background-color: @selected;
}

.notification.low progress,
.notification.normal progress {
  background-color: @selected;
}

/* === Volume / progress bar from int:value ======================== */

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar,
.notification-row .notification-background .notification .notification-default-action .notification-content progressbar trough,
.notification-row .notification-background .notification .notification-default-action .notification-content progressbar trough progress {
  min-height: 5px;
}

.notification-row .notification-background .notification .notification-default-action .notification-content progressbar trough {
  background-color: @base-alt;
}

.notification-row .notification-background .notification
  .notification-default-action .notification-content progressbar trough progress {
  background-color: @primary;
}
